<section class="page-content container-fluid">
<<<<<<< HEAD
  <%= render 'dashboard/stats/card' %>
  <%= render 'dashboard/stats/chart' %>
  <%= render 'dashboard/stats/graph' %>
  <%= render 'dashboard/stats/table' %>
=======
                        <%= render 'dashboard/stats/card' %>
                        <%= render 'dashboard/stats/chart' %>
                        <%= render 'dashboard/stats/graph' %>
                        <%= render 'dashboard/stats/table' %>
>>>>>>> facedf54c600bbb69a84a2d208182bd9a3532ade
</section>
