<div class="card-body form">
	<%= form_with(model: menu, class: "shadow p-3 mb-3 rounded", local: true) do |f| %>
	  <%= f.hidden_field :resturant_id, value: current_employee.resturant_id %>

		<div class="form-group">
			<%= f.label :name_of_Menu, class: "font-weight-bold col-form-label" %>
			<%= f.text_field :name, class: "form-control input-rounded shadow rounded", placeholder: "name of menu" %>          
		</div>

		<div class="row ml-3">
			<div id="wrapper float-left">
				<h5 class="card-header font-weight-bold">Select Items for Menu</h5>

				<div class="scrollbar" id="style-7">
					<div class="force-overflow">
						<div class="form-group">
							<%= f.fields_for :menu_items do |menu_item|%>
								<%= render  'menu_item_fields', f: menu_item %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-footer">
			<%= f.submit class: "btn btn-info btn-outline btn-floating btn-rounded" %>
		</div>
	<% end %>
</div>
