<div class="card-body">
	<%= form_with(model: menu, class: "shadow p-3 mb-3 rounded", local: true) do |f| %>
	  <%= f.hidden_field :resturant_id, value: current_employee.resturant_id %>

		<div class="form-group">
			<%= f.label :name, class: "col-2 col-form-label" %>
			<%= f.text_field :name, class: "form-control input-rounded shadow rounded", placeholder: "name of menu" %>          
		</div>
		
		<div class="card-footer">
			<%= f.submit class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
