<section class="page-content container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card shadow p-3 mb-3 rounded form">
        <div class= "row">
          <h1 class="card-header col-9 ml-2">Menu</h1>
          
          <%= link_to menus_path,class:"btn btn-info btn-outline btn-floating btn-rounded mt-2" do %>
            <span> Back to Menu</span>
          <% end %>
        </div>

        <div class="card-body">
          <table id="bs4-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
							<tr>
								<td><%=@menu.id%></td>
								<td><%=@menu.name%></td>
								<td><%=@menu.post_status%></td>
                
                <td>
                  <% if  @menu.discarded? %>
                    <%= link_to "Restore",  restore_menu_path(@menu),
                      class:"btn btn-info btn-outline btn-sm btn-floating btn-rounded"%>
                  <% else %>
                    <%= link_to edit_menu_path(@menu) do%>
                      <i class="la la-pencil-square btn btn-info btn-outline btn-sm btn-floating btn-rounded"></i>
                    <% end %>
                  <% end %>

                  <% if  @menu.discarded? %>
                    <%= link_to "Permanent delete", menu_path(@menu), class:"btn btn-danger btn-outline btn-sm btn-floating btn-rounded", method: :delete, data: {confirm: 'Are you sure to delete it permanently?'} %>
                  <% else %>
                    <%= link_to menu_path(@menu), method: :delete, data: {confirm: 'Are you sure?'} do%>
                      <i class="la la-close btn btn-danger btn-outline btn-sm btn-floating btn-rounded"></i>
                    <% end %>
                  <% end %>
                </td>
							</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
