<section class="page-content container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class= "row">
          <h1 class="card-header col-10 ml-2">Addons</h1>        
          
          <%= link_to addons_path, class:"btn btn-info btn-outline btn-floating btn-rounded mt-2" do %>
            <span> Back to Addons</span>
          <% end %>
        </div>

        <div class="card-body">
          <table id="bs4-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Status</th>
                <th>menus</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
							<tr>
								<td><%=@addon.id%></td>
								<td><%=@addon.name%></td>
								<td><%=@addon.description%></td>
								<td><%=@addon.price%></td>
								<td><%=@addon.post_status%></td>
                
                <% if  @addon.menu_items.any?%>
                  <td><%= render @addon.menu_items%></td>
                <% else %>
                  <td>Nil</td>
                <% end %>
                
                <td>
                  <% if  @addon.discarded? %>
                    <%= link_to "Restore",  restore_addon_path(@addon),
                      class:"btn btn-info btn-outline btn-sm btn-floating btn-rounded"%>
                  <% else %>
                    <%= link_to edit_addon_path(@addon) do%>
                      <i class="la la-pencil-square btn btn-info btn-outline btn-sm btn-floating btn-rounded"></i>
                    <% end %>                    
                  <% end %>

                  <% if  @addon.discarded? %>
                    <%= link_to "Permanent delete", addon_path(@addon), class:"btn btn-danger btn-outline btn-sm btn-floating btn-rounded", method: :delete, data: {confirm: 'Are you sure to delete it permanently?'} %>
                  <% else %>
                    <%= link_to addon_path(@addon), method: :delete, data: {confirm: 'Are you sure?'} do%>
                      <i class="la la-close btn btn-danger btn-outline btn-sm btn-floating btn-rounded"></i>
                    <% end %>              
                  <% end %>
                </td>
							</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
