<div id="app">
  <%= render 'dashboard/sidebar' %>
  
  <div class="content-wrapper">
    <%= render 'dashboard/toggle_nav' %>
    <%= render 'dashboard/navbar' %>
    
    <div class="content">
      <%= render 'dashboard/header' %>
      
      <div class="row page-content container-fluid">
        <div class="card">
          <h2 class="card-header">Edit addon</h2>
          <%= render  "form", addon: @addon %>
        </div>
      </div>
    </div>
  </div>
</div>
