<div id="app">
  <%= render 'dashboard/sidebar' %>
  
  <div class="content-wrapper">
    <%= render 'dashboard/toggle_nav' %>
    <%= render 'dashboard/navbar' %>
    
    <div class="content">
      <%= render 'dashboard/header' %>
      <%= render 'listing_page'%>
    </div>
  </div>
</div>
