<div class="nested-fields">
  <div class="form-group">
    <%= f.hidden_field :deal_itemable_id %>
    <%= f.hidden_field :deal_itemable_type %>
  </div>

  <div class="form-group ml-3">
    <% if  f.object.persisted?%>
      <%= f.check_box :_destroy, {checked: true}, '0', '1' %>
    <% else f.object.new_record?%>
      <%= f.check_box :_destroy, {}, '0', '1' %>
    <% end %>

    <%= f.label :name , f.object.deal_itemable.name %>
  </div>
</div>
