<div class="card-body">
	<ul class="nav nav-pills nav-pills-primary mb-3" id="pills-demo-1" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">Food Item details</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Set Price</a>
		</li>
	</ul>
	
	<%= form_with model: food_item, html: { class: "shadow p-3 mb-3 rounded form", id: 'food_item_form', data: { local: true } } do |f| %>
		<div class="tab-content shadow p-3 mb-3 rounded form" id="pills-tabContent-1">
			<div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1">
				<div class="card-body">
					<div class="form-group">
						<%= f.label :name, class: "col-2 col-form-label" %>
						<%= f.text_field :name, class: "form-control input-rounded shadow rounded", placeholder: "name of Food Item" %>          
					</div>

					<div class="form-group">
						<%= f.label :description , class: "col-3 col-form-label"%>
						<%= f.text_field :description ,class: "form-control input-rounded shadow rounded", placeholder: "description of Food Item", autocomplete: "description" %>
					</div>

					<div class="row">
						<div class="form-group col-5">
							<%= f.label :Select_Category , class: "col-form-label"%>
							<%= f.collection_select :group_item_id , GroupItem.order(:name), :id, :name, {:prompt => 'Choose a Category...'}, {class: "form-control input-rounded shadow category_select", disabled: (params[:action] == 'edit')} %>
						</div>

						<div class="form-group col-5">
							<%= f.label :Add_Discounts , class: "col-form-label"%>
							<%= f.collection_select :discount_ids , Discount.order(:id), :id, :discount_percentage, {:prompt => 'Choose a Discount...'}, {class: "form-control input-rounded shadow category_select"} %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :Add_images , class: "col-3 col-form-label"%>
						<%= f.file_field :food_pictures, multiple: true, class: "form-control input-rounded shadow rounded"%>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2">
				<div class="form-group options", id="options">
					<% if f.object.options.present? %>
						<%= f.fields_for :option_items do |option_item| %>
							<%= render "edit_option_prices", f: option_item %>
						<% end %>
					<% end %>
				</div>

				<div class="form-group">
					<%=f.label :post_status, "Food Item Status" %>
					<%= f.select(:post_status, FoodItem.post_statuses.keys) %>
				</div>

				<div class="card-footer">
					<%= f.submit class: "btn btn-info btn-outline btn-floating btn-rounded" %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%= content_for :js do%>
  foodItem.select_change();
<%end%>
