<div class="card-body">
	<ul class="nav nav-pills nav-pills-primary mb-3" id="pills-demo-1" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">Discounts Details</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">choose Food Items</a>
		</li>
	</ul>
	
	<%= form_with model: discount, html: { class: "shadow p-3 mb-3 rounded form", id: 'discount_form', data: { local: true } } do |f| %>
		<div class="tab-content shadow p-3 mb-3 rounded form" id="pills-tabContent-1">
			<div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1">
				<div class="card-body">
					<div class="form-group">
						<%= f.label :name, class: "col-2 font-weight-bold col-form-label" %>
						<%= f.text_field :name, class: "form-control input-rounded shadow rounded", placeholder: "Add discount name" %>          
					</div>
					
					<div class="form-group">
						<%= f.label :Price_Or_Percentage, class: "col-4 font-weight-bold col-form-label" %>
						<%= f.number_field :discount_percentage, class: "form-control input-rounded shadow rounded", placeholder: "Add discount price"%>          
					</div>

					<div class="row ml-2 bg">
						<div class="form-group">
							<%= f.label :discount_type , class: "font-weight-bold col-auto col-form-label"%>
							<%= f.select(:discount_type, Discount.discount_types.keys) %>
						</div>

						<div class="form-group">
							<%= f.label :Post_status , class: "font-weight-bold col-auto col-form-label"%>
							<%= f.select(:post_status, Discount.post_statuses.keys) %>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2">
				<div class="form-group">
					<%= f.label :Select_Food_Items , class: "font-weight-bold col-auto col-form-label"%>
					
					<% GroupItem.all.each do |group_item|%>
						<div class="bg-primary text-white ml-4 font-weight-bold col-3 rounded">
							<%=group_item.name%>
						</div>
						
						<%= f.collection_check_boxes :food_item_ids, group_item.food_items.order(:name), :id, :name do |food_item|%>
							<div class="custom-control custom-checkbox checkbox-primary form-check mt-3">
								<%= food_item.check_box %>
								<%= food_item.label %>
							</div>
						<% end %>
					<% end %>
				</div>

				<div class="card-footer">
					<%= f.submit class: "btn btn-info btn-outline btn-floating btn-rounded" %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%= content_for :js do%>
  foodItem.select_change();
<%end%>
