<!DOCTYPE html>
<html>
  <head>
    <title>FoodOrderingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<<<<<<< HEAD
<<<<<<< HEAD
  <body>
=======

  <body class="compact-menu pace-done"
>
>>>>>>> 0a74a09... Add custom styles
=======

  <body class="compact-menu pace-done"
>
>>>>>>> facedf54c600bbb69a84a2d208182bd9a3532ade
    <%= yield %>
  </body>
</html>
